In [7]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model

In [4]:
df = pd.read_csv(r'homeprice.csv')

In [5]:
df

   Area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [8]:
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [11]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [12]:
df

   Area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [14]:
reg = linear_model.LinearRegression()
reg.fit(df[['Area','bedrooms','age']],df.price)

LinearRegression()

In [15]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [17]:
reg.intercept_

383724.9999999998

In [19]:
reg.predict([[3000,3,15]])

array([615025.])